extends layout

block content

	h1 Welcome to the MERN Todo API
	h3 Please click the link below to see the docs 
	a(href= "https://documenter.getpostman.com/view/2246102/collection/RVnb9GaY") API Documentation